h1{
    font-family: $titulos;
    font-size: $large;
}

p{
    font-family: $textos;
    font-size: $small;
}

li{
    font-family: $textos;
    font-size: $medium;
}

label{
    font-family: $textos;
}